spring:
  application:
    name: partystapp

  datasource:
    url: jdbc:postgresql://dpg-d4atribipnbc73ai9360-a.oregon-postgres.render.com:5432/partyst
    username: administrator
    password: H6Zwj6TSlL8htqwUD4hlvelwF53eSWFB
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  output:
    ansi:
      enabled: ALWAYS


server:
    port: 8080

application:
  security:
    jwt:
      secret-key: SDFSDFSDFadadasFASASDaasas23asaDSA13dASda12
      expiration: 86400000 
      refresh-token:
        expiration: 604800000